@model SuperHeros.Models.SuperHeros

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create", "Create") |
    @Html.ActionLink("Edit", "Edit") |
    @Html.ActionLink("Delete", "Delete")
</p>